name: React CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Tests (PR)
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Usar Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar tests
        run: npm test

  build:
    name: Build & Tests (main)
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Usar Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar build
        run: npm run build

      - name: Ejecutar tests
        run: npm test

      - name: Guardar artefacto de build
        uses: actions/upload-artifact@v4
        with:
          name: build-react
          path: build/

  deploy:
    needs: build
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}

    steps:
      - name: Descargar artefacto
        uses: actions/download-artifact@v4
        with:
          name: build-react
          path: build

      - name: Desplegar a GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

      - name: Deploy a Pages
        id: deploy-pages
        uses: actions/deploy-pages@v4
